/* CSS Document */
@charset "utf-8";
*{margin:0; padding:0px;}
a{text-decoration:none;}
.clear{clear:both;}
li{list-style:none;}
img{display:block;border:0px;}
/*end*/
#content{width:100%;margin:0px auto;background-color: #FFFFFF;padding-left: 20em}
.wz h3{width:300px;height:30px;overflow:hidden;line-height:30px;font-size:17px;font-weight:500;padding-left:5px;color:#325EBD;}
.wz h3 a{color:#D3535D;}
.wz h3:hover{padding-left:20px; transition: all 0.5s;-webkit-transition: all 0.5s; -moz-transition: all 0.5s; -o-transition: all 0.5s;}
.wz dl{width:730px;margin-top:3px;}
.wz dl dt{float:left;width:204px;height:127px;margin-left:5px;display:block;border:1px solid #ccc;}
.wz dl dt img{padding:2px;}
.wz dl dd{float:left;width:505px;overflow:hidden;margin-left:12px;margin-top: 12px}
.wz dl dd .dd_text_1{height:100px;display:block;overflow:hidden;}



